@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

.base-transition {
    @apply transition-all duration-300 ease-in-out;
}
.activeTab {
    @apply bg-green-400 text-white;
}
html {
    font-family: "Roboto", sans-serif !important;
    font-optical-sizing: auto;
}

body {
    overflow-x: hidden;
}

button,
a {
    cursor: pointer;
}

/* Для WebKit-браузеров */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Для Firefox */
scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-400);
    cursor: grab;
}

scrollbar-thumb {
    background-color: var(--color-gray-400);
    cursor: grab;
}
